.ripple-grid-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1;
  pointer-events: none;
}

.ripple-grid-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  display: block;
  background: transparent !important; /* Sicherstellen, dass Canvas transparent ist */
  /* DEBUG: */
  /* border: 4px solid red; */ 
}
