.ripple-grid-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1; /* Vor den Hintergrund der Box */
  pointer-events: none; /* Klicks gehen durch zum Radar-Content */
}

.ripple-grid-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  display: block;
}
