.target-cursor-wrapper,
.target-cursor-wrapper * {
  pointer-events: none !important;
}

.target-cursor-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  z-index: 100000;
  /* mix-blend-mode: difference; */
}

.target-cursor-dot {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  will-change: transform;
}

.target-cursor-corner {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 24px;
  height: 24px;
  border: 4px solid var(--color-heading); /* Gold! */
  will-change: transform;
}

.corner-tl {
  border-right: none;
  border-bottom: none;
}

.corner-tr {
  border-left: none;
  border-bottom: none;
}

.corner-br {
  border-left: none;
  border-top: none;
}

.corner-bl {
  border-right: none;
  border-top: none;
}
